<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat Rooms</title>
    <link rel="stylesheet" href="/css/rooms.css">
    <script>
        window.USER_NAME = "<%= user_name %>";
    </script>
</head>
<body>
    <div id="new-room-container">
        <input type="text" id="room-name-input" placeholder="Enter room name">
        <button id="create-room-btn">Create</button>
    </div>
    <ul id="room-list"></ul>
    
    <script src="/js/rooms.js"></script>
</body>
</html>
