<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chatroom</title>
    <link rel="stylesheet" href="/css/room.css">
    <script>
        window.ROOM_NAME = "<%= room_name %>";
        window.USER_NAME = "<%= user_name %>";
    </script>
</head>
<body>
    <a id="back-to-list-button" href="/users/<%= user_name %>/rooms">Back to Room List</a>
    <h2><%= user_name %>: Welcome to <%= room_name %></h2>
    <div id="chat-container">
        <input type="text" id="messageInput" placeholder="Enter your message...">
        <button onclick="sendMessage()">Send</button>
    </div>
    <div id="responseArea"></div>
    <script src="/js/room.js"></script>
</body>
</html>
